<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService id="2e67a70f-0be1-46b9-8920-0724ceee5c72" port="8082" path="/newMock" host="localhost" name="REST Virt 2" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2e67a70f-0be1-46b9-8920-0724ceee5c72fileName">REST-Virt-2</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>-1</con:inputBandwidth><con:outputBandwidth>-1</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>0</con:start><con:endless>true</con:endless></con:virtError></con:constraints><con:headerValidator type="NONE"/></con:restMockService>